body
{
    min-width:                  300px;
    max-width:                  400px;
    
    background-color:           darkblue;
}


#LOC01
{
    display:                    flex;
    justify-content:            space-between;
    align-items:                center;
    
}